{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link
        rel="icon"
        type="image/png"
        href="{% static 'img/favicon.png' %}"
    >
    <title>{% block title %}Life OS{% endblock %}</title>

    <!-- DESIGN TOKENS + CSS GENERAL -->
    <link rel="stylesheet" href="{% static 'life/css/core/tokens.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'life/css/core/base.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'life/css/core/layout.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'life/css/components/buttons.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'life/css/components/forms.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'life/css/components/progress.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'life/css/components/cards.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'life/css/pages/areas.css' %}?v=3">
    <link rel="stylesheet" href="{% static 'life/css/pages/plans.css' %}?v=4">
    <link rel="stylesheet" href="{% static 'life/css/pages/tasks.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'life/css/pages/dashboard.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'life/css/core/responsive.css' %}?v=1">

    <!-- CSS ESPECÍFICO DE CADA PÁGINA -->
    {% block extra_css %}
    {% endblock %}
</head>
<body>

<div class="app">

    <aside class="sidebar">
        <div>
            <h2 class="logo">LIFE_OS</h2>

            <nav>

                <a href="{% url 'life:dashboard' %}">
                    Dashboard
                </a>

                <a href="{% url 'life:life_area_list' %}">
                    Áreas
                </a>
                

                <a href="{% url 'life:plan_list' %}">
                    Planes
                </a>

                <a href="{% url 'life:task_list' %}">
                    Tareas
                </a>

                <a href="{% url 'life:planning' %}">
                    Planning
                </a>
            </nav>
        </div>

        <div class="sidebar-bottom">
            {{ request.user.username }}
        </div>
    </aside>


    <main class="content">

        {% block content %}
        {% endblock %}

    </main>

</div>

</body>
</html>
